/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .leftSide h2 {
    text-align: center;
    margin: 40px 0;
  }
  #imgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .leftSide img {
    width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .rightSide {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rightSide a {
    width: 200px;
    margin-bottom: 10px;
  }

  #apiKey {
    padding: 20px;
    border-radius: 50px;
    background-color: red;
    margin-bottom: 30px;
    word-wrap: break-word;
  }

  #apiKey p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .leftSide h2 {
    text-align: center;
    margin: 40px 0;
  }
  #imgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .leftSide img {
    width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .rightSide {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rightSide a {
    width: 200px;
    margin-bottom: 10px;
  }

  #apiKey {
    padding: 20px;
    border-radius: 50px;
    background-color: red;
    margin-bottom: 30px;
    word-wrap: break-word;
  }

  #apiKey p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .leftSide h2 {
    text-align: center;
    margin: 40px 0;
  }
  #imgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .leftSide img {
    width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .rightSide {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rightSide a {
    width: 200px;
    margin-bottom: 10px;
  }

  #apiKey {
    padding: 20px;
    border-radius: 50px;
    background-color: red;
    margin-bottom: 30px;
    word-wrap: break-word;
  }

  #apiKey p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .leftSide h2 {
    text-align: center;
    margin: 40px 0;
  }
  #imgContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .leftSide img {
    width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .rightSide {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rightSide a {
    width: 200px;
    margin-bottom: 10px;
  }

  #apiKey {
    padding: 20px;
    border-radius: 50px;
    background-color: red;
    margin-bottom: 30px;
    word-wrap: break-word;
  }

  #apiKey p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .leftSide h2 {
    text-align: center;
    margin: 30px 0;
  }
  #imgContainer {
    display: flex;
    justify-content: center;
  }
  .leftSide img {
    width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rightSide a {
    width: 200px;
    margin-bottom: 10px;
  }

  #apiKey {
    padding: 20px;
    border-radius: 50px;
    background-color: red;
    margin-bottom: 30px;
    word-wrap: break-word;
  }

  #apiKey p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}
