/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #tableroDeFormato {
    padding: 20px;
    border-radius: 20px;
    margin: 40px 0;
    background-color: var(--adminTable);
  }

  #tableroDeFormato span {
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #tableroDeFormato {
    padding: 20px;
    border-radius: 20px;
    margin: 40px 0;
    background-color: var(--adminTable);
  }

  #tableroDeFormato span {
    margin-right: 15px;
    cursor: pointer;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #tableroDeFormato {
    padding: 20px;
    border-radius: 20px;
    margin: 30px 0;
    background-color: var(--adminTable);
  }

  #tableroDeFormato span {
    margin-right: 15px;
    cursor: pointer;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #tableroDeFormato {
    padding: 20px;
    border-radius: 20px;
    margin: 30px 0;
    background-color: var(--adminTable);
  }

  #tableroDeFormato span {
    margin-right: 15px;
    cursor: pointer;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #tableroDeFormato {
    padding: 20px;
    border-radius: 20px;
    margin: 30px 0;
    background-color: var(--adminTable);
  }

  #tableroDeFormato span {
    margin-right: 15px;
    cursor: pointer;
  }
}
