/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #loginForm {
    display: flex;
    justify-content: center;
  }
  #loginForm div {
    text-align: center;
    margin: 30px 0;
    width: 330px;
  }
  #loginForm button {
    width: 200px;
  }

  #googleButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }

  .authButtons {
    text-align: center;
    margin-bottom: 30px;
  }
  .authButtons a {
    border-radius: 50px;
  }
  .authButtons i {
    color: #fff;
    font-size: 1rem;
    margin-right: 10px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #loginForm {
    display: flex;
    justify-content: center;
  }
  #loginForm div {
    text-align: center;
    margin: 30px 0;
    width: 500px;
  }
  #loginForm button {
    width: 400px;
  }

  #googleButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }

  .authButtons {
    text-align: center;
    margin-bottom: 30px;
  }
  .authButtons a {
    border-radius: 50px;
  }
  .authButtons i {
    color: #fff;
    font-size: 1rem;
    margin-right: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #loginForm {
    display: flex;
    justify-content: center;
  }
  #loginForm div {
    text-align: center;
    margin: 30px 0;
    width: 600px;
  }
  #loginForm button {
    width: 300px;
  }

  #googleButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
  }

  .authButtons {
    text-align: center;
    margin-bottom: 30px;
  }
  .authButtons a {
    border-radius: 50px;
  }
  .authButtons i {
    color: #fff;
    font-size: 1rem;
    margin-right: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #loginForm {
    display: flex;
    justify-content: center;
  }
  #loginForm div {
    text-align: center;
    margin: 30px 0;
    width: 600px;
  }
  #loginForm button {
    width: 300px;
  }

  #googleButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .authButtons {
    text-align: center;
    margin-bottom: 30px;
  }
  .authButtons a {
    border-radius: 50px;
  }
  .authButtons i {
    color: var(--second-bg-color);
    font-size: 1rem;
    margin-right: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #loginForm {
    display: flex;
    justify-content: center;
  }
  #loginForm div {
    text-align: center;
    margin: 30px 0;
    width: 600px;
  }
  #loginForm button {
    width: 300px;
  }

  #googleButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .authButtons {
    text-align: center;
    margin-bottom: 30px;
  }
  .authButtons a {
    border-radius: 50px;
  }
  .authButtons i {
    color: var(--second-bg-color);
    font-size: 1rem;
    margin-right: 10px;
  }
}
