/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #profileImgContainer {
    display: flex;
    justify-content: center;
  }
  #profileImgContainer img {
    margin: 40px 0 10px 0;
    width: 100px;
    height: 100px;
  }
  h4,
  h5 {
    text-align: center;
  }

  #privileges {
    margin-top: 20px;
  }

  .right-side {
    margin-bottom: 30px;
  }
  #LevelImgContainer {
    display: flex;
    justify-content: center;
  }
  #LevelImgContainer img {
    margin: 40px 0;
    width: 200px;
    height: auto;
    max-height: 300;
  }

  ol {
    list-style: none;
    padding-left: 0 !important;
  }
  ol li {
    padding-left: 0 !important;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #profileImgContainer {
    display: flex;
    justify-content: center;
  }
  #profileImgContainer img {
    margin: 40px 0 10px 0;
    width: 100px;
    height: 100px;
  }
  h4,
  h5 {
    text-align: center;
  }

  #privileges {
    margin-top: 20px;
  }

  .right-side {
    margin-bottom: 30px;
  }
  #LevelImgContainer {
    display: flex;
    justify-content: center;
  }
  ol {
    list-style: none;
    padding-left: 0 !important;
  }
  ol li {
    padding-left: 0 !important;
    text-align: center;
  }

  #LevelImgContainer img {
    margin: 40px 0;
    width: 300px;
    height: auto;
    max-height: 300;
  }
  p {
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #profileImgContainer {
    display: flex;
    justify-content: center;
  }
  #profileImgContainer img {
    margin: 20px 0;
    width: 100px;
    height: 100px;
  }
  h4,
  h5 {
    text-align: center;
  }

  #privileges {
    margin-top: 30px;
  }

  .right-side {
    margin-bottom: 30px;
  }
  #LevelImgContainer {
    display: flex;
    justify-content: center;
  }
  ol {
    list-style: none;
    padding-left: 0 !important;
  }
  ol li {
    padding-left: 0 !important;
    text-align: center;
  }

  #LevelImgContainer img {
    margin: 40px 0;
    width: 300px;
    height: auto;
    max-height: 300;
  }
  p {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #profileImgContainer {
    display: flex;
    justify-content: center;
  }
  #profileImgContainer img {
    margin: 30px 0;
    width: 100px;
    height: 100px;
  }
  h4,
  h5 {
    text-align: center;
  }

  #privileges {
    margin-top: 30px;
  }

  .right-side {
    margin-bottom: 30px;
  }
  #LevelImgContainer {
    display: flex;
    justify-content: center;
  }

  #LevelImgContainer img {
    margin: 40px 0;
    width: 300px;
    height: auto;
    max-height: 300;
  }
  .right-side p {
    text-align: center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #profileImgContainer {
    display: flex;
    justify-content: center;
  }
  #profileImgContainer img {
    margin: 60px 0;
    width: 100px;
    height: 100px;
  }
  h4,
  h5 {
    text-align: center;
  }

  #privileges {
    margin-top: 30px;
  }

  #LevelImgContainer {
    display: flex;
    justify-content: center;
  }

  #LevelImgContainer img {
    margin: 40px 0;
    width: 400px;
    height: 400px;
  }
  p {
    text-align: center;
  }
}
