/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #profileImgContainer {
    display: flex;
    justify-content: center;
  }
  #profileImgContainer img {
    margin: 60px 0;
    width: 100px;
    height: 100px;
  }
  h4,
  h5 {
    text-align: center;
  }

  #privileges {
    margin-top: 30px;
  }

  #LevelImgContainer {
    display: flex;
    justify-content: center;
  }

  #LevelImgContainer img {
    margin: 40px 0;
    width: 400px;
    height: 400px;
  }
  p {
    text-align: center;
  }
}
