/* Re chiquito */
@media (max-width: 575.98px) {
  #SingleArticle h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
  }

  #SingleArticle #imgContainer {
    display: flex;
    justify-content: center;
  }

  #SingleArticle img {
    width: 400px;
    height: auto;
    max-height: 400px;
  }

  #SingleArticle #content,
  #SingleArticle #content p {
    margin: 30px 0;
    font-size: 0.99rem;
  }
  #SingleArticle #user {
    color: var(--singleUser);
    font-size: 1.1rem;
    text-align: end;
  }

  /* -----------------------comentarios listado- --------------------- */

  #userComment {
    background-color: var(--userCommentBg);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
  }

  #userComment h6 {
    text-align: center;
  }

  #userComment p {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0;
  }

  /* -------Comentarios Formulario de inputs----------- */
  #comments {
    display: flex;
    justify-content: center;
  }
  #singleComment {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #SingleArticle h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
  }

  #SingleArticle #imgContainer {
    display: flex;
    justify-content: center;
  }

  #SingleArticle img {
    width: 500px;
    height: auto;
    max-height: 400px;
  }

  #SingleArticle #content,
  #SingleArticle #content p {
    margin: 30px 0;
    font-size: 0.99rem;
  }
  #SingleArticle #user {
    color: var(--singleUser);
    font-size: 1.1rem;
    text-align: end;
  }

  /* -----------------------comentarios listado- --------------------- */

  #userComment {
    background-color: var(--userCommentBg);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
  }

  #userComment h6 {
    text-align: center;
  }

  #userComment p {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0;
  }

  /* -------Comentarios Formulario de inputs----------- */
  #comments {
    display: flex;
    justify-content: center;
  }
  #singleComment {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #SingleArticle h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
  }

  #SingleArticle #imgContainer {
    display: flex;
    justify-content: center;
  }

  #SingleArticle img {
    width: auto;
    height: 500px;
  }

  #SingleArticle #content,
  #SingleArticle #content p {
    margin: 30px 0;
    font-size: 0.99rem;
  }
  #SingleArticle #user {
    color: var(--singleUser);
    font-size: 1.1rem;
    text-align: end;
  }

  /* -----------------------comentarios listado- --------------------- */

  #userComment {
    background-color: var(--userCommentBg);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
  }

  #userComment h6 {
    text-align: center;
  }

  #userComment p {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0;
  }

  /* -------Comentarios Formulario de inputs----------- */
  #comments {
    display: flex;
    justify-content: center;
  }
  #singleComment {
    width: 50%;
    margin-bottom: 20px;
  }
}
/* Laptop screen */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #SingleArticle h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
  }

  #SingleArticle #imgContainer {
    display: flex;
    justify-content: center;
  }

  #SingleArticle img {
    width: auto;
    height: 500px;
  }

  #SingleArticle #content,
  #SingleArticle #content p {
    margin: 30px 0;
  }
  #SingleArticle #user {
    color: var(--singleUser);
    font-size: 1.1rem;
    text-align: end;
  }

  /* -----------------------comentarios listado- --------------------- */

  #userComment {
    background-color: var(--userCommentBg);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
  }

  #userComment h6 {
    text-align: center;
  }

  #userComment p {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0;
  }

  /* -------Comentarios Formulario de inputs----------- */
  #comments {
    display: flex;
    justify-content: center;
  }
  #singleComment {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  #SingleArticle h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
  }

  #SingleArticle #imgContainer {
    display: flex;
    justify-content: center;
  }

  #SingleArticle img {
    width: auto;
    height: 500px;
  }

  #SingleArticle #content,
  #SingleArticle #content p {
    margin: 30px 0;
  }
  #SingleArticle #user {
    color: var(--singleUser);
    font-size: 1.1rem;
    text-align: end;
  }

  /* -----------------------comentarios listado- --------------------- */

  #userComment {
    background-color: var(--userCommentBg);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
  }

  #userComment h6 {
    text-align: center;
  }

  #userComment p {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0;
  }

  /* -------Comentarios Formulario de inputs----------- */
  #comments {
    display: flex;
    justify-content: center;
  }
  #singleComment {
    width: 50%;
    margin-bottom: 20px;
  }
}
